<style scoped >

h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.prices.sub-head{
    text-align:center;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }
.card {
    margin:5px;
    padding:2px;
    height: 350px;
    width: 300px;
    border-radius: 3px;
    display: inline-block;
    position:relative;
    background-color:white;
    background-image: url('http://api.thumbr.it/whitenoise-361x370.png?background=f7f3edff&noise=626262&density=45&opacity=11');
    -webkit-box-shadow: 1px 0px 14px -4px rgba(0,0,0,0.85);
    -moz-box-shadow: 1px 0px 14px -4px rgba(0,0,0,0.85);
    box-shadow: 1px 0px 14px -4px rgba(0,0,0,0.85);
    transition: 0.3s;
    
  }
  
  .card:first-child {
      margin-left:15px;
  }
  .item-img {
      border-radius: 3px 3px 0px 0px;
  }
  
   .sidenav {
  height: 359px; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
   position:absolute;/* Stay in place */
  z-index: 1; /* Stay on top */
  top: 43px; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
 
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: relative;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.main {
    position: relative;
}

.ui.button.view.menu {
    bottom:20px;
}

#search-menu:focus{
    color:#eaeaea;
}
#search-menu{
    color:#a9a9a9;
}
#search-menu::selection {
    color:#d385b2;
}
.search.link.icon{
    color:#eaeaea;
}

</style>
<div>
    <div id="menu-gallery-menu" class="ui top attached pointing menu inverted">
        <a class="ui icon item menu-actions">
            <i class="wrench icon"></i>
        </a>
        <a class="item content active" data-action="menu" data-url="/admin-menu/menu">
            menus
        </a>
        <a class="item content" data-action="category" data-url="/admin-menu/category">
            categories
        </a>
        <a class="item content" data-action="item" data-url="/admin-menu/item">
            items
        </a>
        <a class="item content" data-action="ingredient" data-url="/admin-menu/ingredient">
            ingredients
        </a>
        <div class="right inverted menu">
            
            <div class="item" style="flex-grow:1;">
              <div class="ui transparent icon input">
                <input id="search-menu" class="search" type="text" placeholder="Search...">
                <i class="search link icon"></i>
              </div>
            </div>
        </div>
    </div>
    <div>
    <section class="scrolling-wrapper">
        <% for (let i = 0; i < items.length; i++){ %>
            <div class="card">
                <img class="item-img" src=".<%=items[i].image.url%>" width='296px'>
                <div class="header">
                    <h4><%=items[i].name%></h4>
                </div>
                <div class="body">
                    <div class="ui button view menu">
                        view item
                    </div>
                </div>
            </div>
        <% } %>
        <div class="sidenav">
            <a href="javascript:void(0)" class="closebtn">&times;</a>
            <a class="new" data-content="ingredient">New Ingredient</a>
            <a class="new" data-content="item">New Item</a>
            <a class="new" data-content="category">New Category</a>
            <a class="new" data-content="menu">New Menu</a>
        </div>
    </section>
    </div>
</div>
<script>
    $('.ui.dropdown')
  .dropdown()
;
function menuGalleryController(){
    let menu_gallery_menu = document.getElementById('menu-gallery');
    
    menu_gallery_menu.addEventListener('click', (event) => {
        let target = event.target;
        if (target.matches('.new')){
            let content = target.getAttribute('data-content');
            getForms(content)
        } else if (target.matches('.content')){
            let menuNav = document.getElementById('menu-gallery-menu');
            let selected = menuNav.querySelectorAll('a')
                selected = Array.from(selected)
            let chosen = selected.filter(link => {
                return link.classList.contains('active')
            })
            loadGallery(target)
            navClick(target, chosen)
        } else if (target.matches('.menu-actions')){
            openNav(target)
        } else if (target.matches('.search')){
            let menuNav = document.getElementById('menu-gallery-menu');
            let selected = menuNav.querySelectorAll('a')
                selected = Array.from(selected)
            let chosen = selected.filter(link => {
                return link.classList.contains('active')
            })
            let url = chosen[0].getAttribute('data-url');
            let search = target.value;
            
            listenForSearch(chosen, target)
        } else if (target.parentElement.matches('.menu-actions')){
            openNav(target.parentElement)
        }
    });
    
    
    
    function removeListener(target){
        target.removeEventListener('keyup', delay);
    }
    
    
    
    function getForms(content){
        let modal = document.getElementById('form_modal');
       
        let headerDest = modal.querySelector('.header');
        let contentDest = modal.querySelector('.content');
        
        headerDest.innerHTML = `new ${content}`;
        if (content === 'category'){
            contentDest.innerHTML = `<% include ../../admin/forms/menus/create-category %>`;
            
        } else if (content === 'ingredient') {
            contentDest.innerHTML = `<% include ../../admin/forms/menus/create-ingredient %>`;
            $('select.dropdown').dropdown();
            createIngredientController();
            
        } else if (content === 'item') {
            contentDest.innerHTML = `<% include ../../admin/forms/menus/create-item %>`;
            $('select.dropdown').dropdown();
             createDishController()
      
        } else if (content === 'menu') {
            contentDest.innerHTML = `<% include ../../admin/forms/menus/create-menu %>`
            $('select.dropdown').dropdown();
          
        } else {
            contentDest.innerHTML = '';
        }
        
        
        $(modal).modal({closable: false}).modal('show');
    }
    
    function createIngredientController(){
        var form = document.getElementById('add-ingredient');
        
        form.addEventListener('click', (event) => {
            if (event.target.closest('.type')) {
                if (event.target.matches('.item')) {
                    var color = '';
                    let target = event.target;
                    let type = target.getAttribute('data-value');
                    let destination = form.querySelector('.color');
                    console.log(destination)
                    switch(type) {
                        case 'sauce':
                            color = 'pink';
                            break;
                        case 'vegetable':
                            color = 'olive';
                            break;
                        case 'cheese':
                            color = 'yellow';
                            break;
                        case 'meat':
                            color = 'red';
                            break;
                        case 'meat-substitute':
                            color = 'orange';
                            break;
                        case 'cheese-substitute':
                            color = 'yellow';
                            break;
                        default: ''
                    }
                var color_input = `
                    <input name="color" type="hidden" value="${color}" readonly="">
                `;
                destination.innerHTML = color_input;
                }
            }
        })
    }
    function createDishController(){
        let form = document.getElementById('create-item-form');
        let modal = document.getElementById('form_modal');
    
        form.addEventListener('click', (event) => {
            let target = event.target;
            let name = form.querySelector('input[name=name]').value;
            let notes = form.querySelector('textarea[name=notes]').value;
            
            if (target.closest('#order-type')) { 
                let destination = document.getElementById('order-type-descriptions')
                destination.innerHTML = getDescriptions(getOrderTypes());
            } else if (target.closest('#select-ingredients')){ buildIngredInputs(getIngredientList('ingredients_dropdown'))
            } else if (target.closest('#item-diet-tags')){
                let category = getCategory();
                let tags = getTags('tags_dropdown');
                
                let destination = form.querySelector('.prices');
                    destination.innerHTML = switchCategories(
                        getCategory(), tags, name
                    );
               
            } else if (target.matches('.delete')){ 
            
                let category = getCategory();
                let tags = getTags('tags_dropdown');
                
                let destination = form.querySelector('.prices');
                    destination.innerHTML = switchCategories(
                        getCategory(), tags, name
                    );
                
            }  else if (target.matches('#submit-button')){
                let createItemForm = document.getElementById('create-item-form');
                const newItem = {
                    name: createItemForm.querySelector('input[name=name]').value,
                    category: getCategory(),
                    image: document.getElementById('file-input'),
                    ingredients: {
                       list:  getTags('ingredients_dropdown'),
                       recipe:  populateIngred(createItemForm, 'input[name=ingred_full]')
                    },
                    tags: getTags('tags_dropdown'),
                    locations: getTags('location_dropdown'),
                    order_types: getOrderTypes(),
                    prices: getPricing(createItemForm, 'input[name=price]'),
                    description: getDesc(createItemForm, 'textarea[name=desc]'),
                    notes: notes,
                    token: "<%=process.env.menuAuthToken%>"
                }
                return postItem(newItem)
                .then((newItem) => {
                    $(modal).modal('hide');
                    alert(newItem.data.name + " created!")
                }).catch((err) => {
                    return err;
                })
                
                let ingredientList = getIngredientList('ingredients_dropdown')
                
                //Get category selection value
                let category = document.getElementById('category_dropdown')
                    .parentElement.querySelector('.text').innerText;
                //Get Order Types
                let orderTypes = document.getElementById('order-type')
                    .querySelectorAll('a');
                    orderTypes = Array.from(orderTypes);
                let types = orderTypes.map(type => {
                    return type.dataset.value;
                });
                //Get order Type Descriptions
            
                let prices = getPricing(createItemForm, 'input[name=price]');
            }
        
        })
        
    }
    function buildDescInputs(ordertypes){
        let destination = document.getElementById('order-type-descriptions');
        let html = `
            ${ordertypes.map(ordertype => 
              ` <div class="field">
                    <label>${ordertype} description</label>
                    <textarea name="desc" type="text" rows="3" data-type="${ordertype}"></textarea>
                </div>`
            ).join('')}
        `;
        destination.innerHTML = html;
        $('select.dropdown').dropdown();
    }
    
    function buildIngredInputs(ingredientArray){
        console.log(ingredientArray)
        let destination = document.getElementById('ingred-desc');
        let html = ` 
            ${ingredientArray.map(ingredient =>
            
            `
                    <div class="fields">
                        <div class="eight wide field">
                            <label>${ingredient.name} qty by oz</label>
                            <input class="ingredient-data" name="ingred_full" type="text" data-id="${ingredient.id}" data-name="${ingredient.name}">
                        </div>
                    </div>
            `
            ).join('')}
         `;
        destination.innerHTML = html;
        $('select.dropdown').dropdown();
    }
    
    function buildPrices(category, tags){
        let destination = document.getElementById('prices');
        
        
    }
    
    function sortPrices(category, tags){
            category = category.toLowerCase();
            switch (category) {
                case 'appetizers':
                     console.log('appetizers')
                     item.prices.push(
                         {
                            type: "reg",
                            id: "reg",
                            text: "Regular",
                            amount: req.body.reg
                         },
                         {
                             type: "party",
                             id: "party",
                             text: "Party Size",
                             amount: req.body.party
                         }
                         );
                    for (var a = 0; a < tags.length; a++){
                        if (tags[a] === "VR") {
                           item.prices.push(
                                {
                                    type: "vegan",
                                    id: "V",
                                    text: "Get it Vegan",
                                    amount: req.body.vegan
                                },
                                {
                                    type: "vegan_party",
                                    id: "VPS",
                                    text: "Vegan Party Size",
                                    amount: req.body.vegan_party
                                }
                            );
                        } else if (tags[a] === "GFR") {
                            item.prices.push(
                                {  
                                    type: "gluten_free_on_request",
                                    id: "GFR",
                                    text: "Get it GF",
                                    amount: req.body.gluten_free_on_request
                                },
                                {   
                                    type: "gluten_free_on_request_party",
                                    id: "GFRPS",
                                    text: "GF Party Size",
                                    amount: req.body.gluten_free_on_request_party
                                }
                            );
                        }
                    }
                    
                    break;
                case 'salads':
                    item.prices.push(
                        {   
                            type: 'sm',
                            id: 'sm',
                            text: "Sm",
                            amount: req.body.sm
                        },
                        {   
                            type: "lg",
                            price: "lg",
                            text: "Lg",
                            amount: req.body.lg
                        },
                        {   type: "party",
                            id: "PS",
                            text: "Party Size",
                            amount: req.body.party
                        }
                    );
                    break;
                case 'pasta': 
                    item.prices.push(
                        {   type: 'reg',
                            id: "reg",
                            text: "Regular",
                            amount: req.body.reg
                        },
                        {   type: 'party',
                            id: "ps",
                            text: "Party Size",
                            amount: req.body.party
                        }
                    );
                    break;
                case 'parmigiana hoagies':
                    item.prices.push(
                        {   type: 'reg',
                            id: "reg",
                            text: "Regular",
                            amount: req.body.reg
                        }
                    );
                    break;
                case 'deli style hoagies':
                   item.prices.push({
                            type: 'reg',
                            id: "reg",
                            text: "Regular",
                            amount: req.body.reg
                        });
                    break;
                case 'specialty pizza':
                   item.prices.push(
                        {   type: 'sm',
                            id: 'sm | 10"',
                            text: 'Sm | 10"',
                            amount: req.body.sm
                        },
                        {
                            type: 'med',
                            id: 'med | 12"',
                             text: 'Med | 12"',
                            amount: req.body.med
                        },
                        {
                            type: 'lg',
                            id: 'lg| 16"',
                             text: 'Lg | 16"',
                            amount: req.body.lg
                        }
                    );
                    for (var b = 0; b < tags.length; b++){
                        if (tags[b] === "GFR") {
                            item.prices.push({
                                type: 'gf',
                            id: 'gf | 10"',
                             text: 'GF | 10"',
                            amount: req.body.gf
                            })
                        }
                    }
                    break;
                case 'desserts':
                   item.prices.push({
                            type: 'reg',
                            id: "reg",
                            text: "Regular",
                            amount: req.body.reg
                        })
                    for (var c = 0; c < tags.length; c++) {
                        if (tags[c] === "lg_party") {
                            item.prices.push({
                                type: 'party',
                                id: 'PS',
                                text: "Party Size",
                                amount: req.body.party
                            })
                        }
                    }
                    break;
                default:
            }
        }
        
        function createItem(){
            
        }
        
        sortPrices(req.body.category, tags)
        
}
menuGalleryController()
</script>

<script>
    
     
    
    
     
     
</script>

