/* Chalkboard Fonts */

@font-face {
    font-family: "Woodnote";
    src: url('../fonts/font-files/Woodnote.woff') format('woff');
}
@font-face {
    font-family: "Woodnote-Light";
    src: url('../fonts/font-files/WoodnoteLight.woff') format('woff');
}
@font-face {
    font-family: "Akula";
    src: url('../fonts/font-files/Akula.woff') format('woff');
}
@font-face {
    font-family: "Manticore";
    src: url('../fonts/font-files/Manticore.woff') format('woff');
}
@font-face {
    font-family: "Stay-Weird";
    src: url('../fonts/font-files/Stay-Weird.woff') format('woff');
}
@font-face {
    font-family: "Stay-Weird-Swash";
    src: url('../fonts/font-files/Stay-Weird-Swash.woff') format('woff');
}
@font-face {
    font-family: "Rude-Cookie-Blok";
    src: url('../fonts/font-files/Rude-Cookie-Blok.woff') format('woff');
}
@font-face {
    font-family: "Rude-Cookie-Brush";
    src: url('../fonts/font-files/Rude-Cookie-Brush.woff') format('woff');
}
@font-face {
    font-family: "Rude-Cookie-Front";
    src: url('../fonts/font-files/Rude-Cookie-Front.woff') format('woff');
}
@font-face {
    font-family: "Rude-Cookie-Garis";
    src: url('../fonts/font-files/Rude-Cookie-Garis.woff') format('woff');
}
@font-face {
    font-family: "Rude-Cookie-Quick";
    src: url('../fonts/font-files/Rude-Cookie-Quick.woff') format('woff');
}
@font-face {
    font-family: "Sparose-Swash";
    src: url('../fonts/font-files/Sparose-Swash.woff') format('woff');
}
@font-face {
    font-family: "Sparose";
    src: url('../fonts/font-files/Sparose.woff') format('woff');
}
@font-face {
    font-family: "Jackpot";
    src: url('../fonts/font-files/jackpot-webfont.woff') format('woff');
}
@font-face {
    font-family: "Jackpot-Italic";
    src: url('../fonts/font-files/jackpot_italic-webfont.woff') format('woff');
}
@font-face {
    font-family: "Jackpot-Lowercase";
    src: url('../fonts/font-files/jackpot_lowercase-webfont.woff') format('woff');
}
@font-face {
    font-family: "Jackpot-Lowercase-Italic";
    src: url('../fonts/font-files/jackpot_lowercase_italic-webfont.woff') format('woff');
}
@font-face {
    font-family: "Jackpot-Script_italic";
    src: url('../fonts/font-files/jackpot_script_italic-webfont.woff') format('woff');
}
@font-face {
    font-family: "Jackpot-Script";
    src: url('../fonts/font-files/jackpot_script-webfont.woff') format('woff');
}
@font-face {
    font-family: "Jackpot-Short";
    src: url('../fonts/font-files/jackpot_short-webfont.woff') format('woff');
}
@font-face {
    font-family: "Jackpot-Short-Italic";
    src: url('../fonts/font-files/jackpot_short_italic-webfont.woff') format('woff');
}
@font-face {
    font-family: "Nomad";
    src: url('../fonts/font-files/Nomad.woff') format('woff');
}
@font-face {
    font-family: "Nomad-Alternate";
    src: url('../fonts/font-files/Nomad-Alternate.woff') format('woff');
}
@font-face {
    font-family: "DK-Crayon-Crumble";
    src: url('../fonts/font-files/dk_crayon_crumble-webfont.woff') format('woff');
}
@font-face {
    font-family: "TuckShop-Regular";
    src: url('../fonts/font-files/TuckShop-Regular.woff') format('woff');
}
@font-face {
    font-family: "TuckShop-Outline";
    src: url('../fonts/font-files/TuckShop-Outline.woff') format('woff');
}
@font-face {
    font-family: "TuckShop-Decoration";
    src: url('../fonts/font-files/TuckShop-Decoration.woff') format('woff');
}
@font-face {
    font-family: "Colored-Crayons";
    src: url('../fonts/font-files/colored_crayons-webfont.woff') format('woff');
}
@font-face {
    font-family: "Axiforma-Bold";
    src: url('../fonts/font-files/kastelov_-_axiforma_bold-webfont.woff');
}
@font-face {
    font-family: 'bite_chalk_boldregular';
    src: url('../fonts/font-files/bitechalkbold-webfont.woff2') format('woff2'),
         url('../fonts/font-files/bitechalkbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bite_chalk_normalregular';
    src: url('../fonts/font-files/bitechalknormal-webfont.woff2') format('woff2'),
         url('../fonts/font-files/bitechalknormal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bite_chalk_slimregular';
    src: url('../fonts/font-files/bitechalkslim-webfont.woff2') format('woff2'),
         url('../fonts/font-files/bitechalkslim-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bite_chalkregular';
    src: url('../fonts/font-files/bitechalk-webfont.woff2') format('woff2'),
         url('../fonts/font-files/bitechalk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 11, 2016 */



@font-face {
    font-family: 'gunnarcutout-outline';
    src: url('../fonts/font-files/gunnar-cutout-outline-webfont.eot');
    src: url('../fonts/font-files/gunnar-cutout-outline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-files/gunnar-cutout-outline-webfont.woff2') format('woff2'),
         url('../fonts/font-files/gunnar-cutout-outline-webfont.woff') format('woff'),
         url('../fonts/font-files/gunnar-cutout-outline-webfont.ttf') format('truetype'),
         url('../fonts/font-files/gunnar-cutout-outline-webfont.svg#gunnarcutout-outline') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gunnarcutout-rough';
    src: url('../fonts/font-files/gunnar-cutout-rough-webfont.eot');
    src: url('../fonts/font-files/gunnar-cutout-rough-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-files/gunnar-cutout-rough-webfont.woff2') format('woff2'),
         url('../fonts/font-files/gunnar-cutout-rough-webfont.woff') format('woff'),
         url('../fonts/font-files/gunnar-cutout-rough-webfont.ttf') format('truetype'),
         url('../fonts/font-files/gunnar-cutout-rough-webfont.svg#gunnarcutout-rough') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gunnarcutout';
    src: url('../fonts/font-files/gunnar-cutout-webfont.eot');
    src: url('../fonts/font-files/gunnar-cutout-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-files/gunnar-cutout-webfont.woff2') format('woff2'),
         url('../fonts/font-files/gunnar-cutout-webfont.woff') format('woff'),
         url('../fonts/font-files/gunnar-cutout-webfont.ttf') format('truetype'),
         url('../fonts/font-files/gunnar-cutout-webfont.svg#gunnarcutout') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gunnaroutline-rough';
    src: url('../fonts/font-files/gunnar-outline-rough-webfont.eot');
    src: url('../fonts/font-files/gunnar-outline-rough-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-files/gunnar-outline-rough-webfont.woff2') format('woff2'),
         url('../fonts/font-files/gunnar-outline-rough-webfont.woff') format('woff'),
         url('../fonts/font-files/gunnar-outline-rough-webfont.ttf') format('truetype'),
         url('../fonts/font-files/gunnar-outline-rough-webfont.svg#gunnaroutline-rough') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gunnaroutline';
    src: url('../fonts/font-files/gunnar-outline-webfont.eot');
    src: url('../fonts/font-files/gunnar-outline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-files/gunnar-outline-webfont.woff2') format('woff2'),
         url('../fonts/font-files/gunnar-outline-webfont.woff') format('woff'),
         url('../fonts/font-files/gunnar-outline-webfont.ttf') format('truetype'),
         url('../fonts/font-files/gunnar-outline-webfont.svg#gunnaroutline') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gunnarregular';
    src: url('../fonts/font-files/gunnar-regular-webfont.eot');
    src: url('../fonts/font-files/gunnar-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-files/gunnar-regular-webfont.woff2') format('woff2'),
         url('../fonts/font-files/gunnar-regular-webfont.woff') format('woff'),
         url('../fonts/font-files/gunnar-regular-webfont.ttf') format('truetype'),
         url('../fonts/font-files/gunnar-regular-webfont.svg#gunnarregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'active-regular';
    src: url('../fonts/font-files/active-regular-webfont.woff');
    src: url('../fonts/font-files/active-regular-webfont.woff2');
}

@font-face {
    font-family: 'active-regular-fill';
    src: url('../fonts/font-files/activefill-regular-webfont.woff');
    src: url('../fonts/font-files/activefill-regular-webfont.woff2');
}
@font-face {
    font-family: 'active-regular-one';
    src: url('../fonts/font-files/activeone-regular-webfont.woff');
    src: url('../fonts/font-files/activeone-regular-webfont.woff2');
}
@font-face {
    font-family: 'active-regular-one-fill';
    src: url('../fonts/font-files/activeonefill-regular-webfont.woff');
    src: url('../fonts/font-files/activeonefill-regular-webfont.woff2');
}
@font-face {
    font-family: 'active-regular-two';
    src: url('../fonts/font-files/activetwo-regular-webfont.woff');
    src: url('../fonts/font-files/activetwo-regular-webfont.woff2');
}
@font-face {
    font-family: 'active-regular-two-fill';
    src: url('../fonts/font-files/activetwofill-regular-webfont.woff');
    src: url('../fonts/font-files/activetwofill-regular-webfont.woff2');
}
@font-face {
    font-family: 'gunnarrough';
    src: url('../fonts/font-files/gunnar-rough-webfont.eot');
    src: url('../fonts/font-files/gunnar-rough-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font-files/gunnar-rough-webfont.woff2') format('woff2'),
         url('../fonts/font-files/gunnar-rough-webfont.woff') format('woff'),
         url('../fonts/font-files/gunnar-rough-webfont.ttf') format('truetype'),
         url('../fonts/font-files/gunnar-rough-webfont.svg#gunnarrough') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on January 9, 2019 */



@font-face {
    font-family: 'graunbold';
    src: url('../fonts/font-files/graun-webfont.woff2') format('woff2'),
         url('../fonts/font-files/graun-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'vhiena_extrude_aregular';
    src: url('../fonts/font-files/vhiena_extrude_a-webfont.woff2') format('woff2'),
         url('../fonts/font-files/vhiena_extrude_a-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vhiena_insetregular';
    src: url('../fonts/font-files/vhiena_inset-webfont.woff2') format('woff2'),
         url('../fonts/font-files/vhiena_inset-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vhiena_basicregular';
    src: url('../fonts/font-files/vhiena_base-webfont.woff2') format('woff2'),
         url('../fonts/font-files/vhiena_base-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vhiena_outlineregular';
    src: url('../fonts/font-files/vhiena_outline-webfont.woff2') format('woff2'),
         url('../fonts/font-files/vhiena_outline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vhiena_extrude_bregular';
    src: url('../fonts/font-files/vhiena_extrude_b-webfont.woff2') format('woff2'),
         url('../fonts/font-files/vhiena_extrude_b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vhiena_gradientregular';
    src: url('../fonts/font-files/vhiena_gradient-webfont.woff2') format('woff2'),
         url('../fonts/font-files/vhiena_gradient-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vhiena_bevelregular';
    src: url('../fonts/font-files/vhiena_bevel-webfont.woff2') format('woff2'),
         url('../fonts/font-files/vhiena_bevel-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'vhiena_monolineregular';
    src: url('../fonts/font-files/vhiena_monoline-webfont.woff2') format('woff2'),
         url('../fonts/font-files/vhiena_monoline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'boldoa_matbold';
    src: url('../fonts/font-files/boldoa_mat-webfont.woff2') format('woff2'),
         url('../fonts/font-files/boldoa_mat-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}