<style>
    .ui.icon.input {
        width: 100%;
    }
</style>
<div id="add-untappd-item" class="ui segment inverted">
    <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="circular search link icon"></i>
    </div>
    <div id="untappd_results" class="ui segment">
        
    </div>
</div>


