<div id="location-gallery-menu" class="ui top attached pointing menu inverted">
    <a class="ui icon item menu-actions">
        <i class="wrench icon"></i>
    </a>
    <a class="item content active" data-action="locations">
        locations
    </a>
    <a class="item content" data-action="untappd">
        untappd
    </a>
    <a class="item content" data-action="content">
        breezy        
    </a>
    <a class="item content" data-action="promos">
        promos
    </a>
    <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input class="search" type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
  




